.submit-box {
  display: flex;
  justify-content: space-between;
}
.study-input {
  width: 33.5rem;
  height: 4.2rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #dddddd;
  padding: 1.2rem 2rem 1.2rem 2rem;
  box-sizing: border-box;
}
.study-select {
  width: 18rem;
  padding: 0.9rem 2rem 0.9rem 2rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  border: 0.1rem solid #dddddd;
}
